Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,concurrency-*,llvm-*,misc-*,performance-*,portability-*,readability-*,-performance-no-int-to-ptr'
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: readability-identifier-naming.GlobalVariablePrefix
      value: g_
    - key: readability-identifier-naming.TypedefSuffix
      value: _t
FormatStyle: 'file'
